<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>mysite02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.lucy.mysite02.controller.MainServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/servlet-context.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.lucy.mysite02.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
    <url-pattern>/user/loginform</url-pattern>
    <url-pattern>/user/login</url-pattern>
    <url-pattern>/user/joinform</url-pattern>
    <url-pattern>/user/join</url-pattern>
    <url-pattern>/user/joinsuccess</url-pattern>
    <url-pattern>/user/logout</url-pattern>
    <url-pattern>/user/updateform</url-pattern>
    <url-pattern>/user/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestBookServlet</display-name>
    <servlet-name>GuestBookServlet</servlet-name>
    <servlet-class>com.lucy.mysite02.controller.GuestBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestBookServlet</servlet-name>
    <url-pattern>/guestbook</url-pattern>
    <url-pattern>/guestbook/deleteform</url-pattern>
    <url-pattern>/guestbook/delete</url-pattern>
    <url-pattern>/guestbook/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardServlet</display-name>
    <servlet-name>BoardServlet</servlet-name>
    <servlet-class>com.lucy.mysite02.controller.BoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardServlet</servlet-name>
    <url-pattern>/board</url-pattern>
    <url-pattern>/board/modifyform</url-pattern>
    <url-pattern>/board/modify</url-pattern>
    <url-pattern>/board/addform</url-pattern>
    <url-pattern>/board/add</url-pattern>
    <url-pattern>/board/view</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.lucy.mysite02.web.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>